.nav{
    display: flex;
    justify-content: center;
    align-items: center;
   &__list{
    display: flex;
    align-items: center;
    justify-content: center;

   }
   &__link{
    padding: 10px;
   } 
}